<nav class="nav-sub" data-menu-target="menu-sub">
  <div class="nav-sub__wrap">
    <ul class="nav-sub__list">
      <li class="nav-main__item">
        <a href="#" class="nav-sub__link">Women</a>
      </li>
      <li class="nav-sub__item">
        <a href="#" class="nav-sub__link">Men</a>
      </li>
      <li class="nav-sub__item">
        <a href="#" class="nav-sub__link">Kids</a>
      </li>
      <li class="nav-sub__item">
        <a href="#" class="nav-sub__link">Vintage</a>
      </li>
      <li class="nav-sub__item">
        <a href="#" class="nav-sub__link">Weddings</a>
      </li>
    </ul>
    <ul class="nav-sub__list">
      <li class="nav-sub__item">
        <a href="#" class="nav-sub__link">Books</a>
      </li>
      <li class="nav-sub__item">
        <a href="#" class="nav-sub__link">Entertainment</a>
      </li>
      <li class="nav-sub__item">
        <a href="#" class="nav-sub__link">Household</a>
      </li>
      <li class="nav-sub__item">
        <a href="#" class="nav-sub__link">Memorabilia &amp; Ephemera</a>
      </li>
      <li class="nav-sub__item">
        <a href="#" class="nav-sub__link">Stamps &amp; Coins</a>
      </li>
    </ul>
    <ul class="nav-sub__list">
      <li class="nav-sub__item">
        <a href="#" class="nav-sub__link">Art &amp; Photography</a>
      </li>
      <li class="nav-sub__item">
        <a href="#" class="nav-sub__link">Toys &amp; Games</a>
      </li>
      <li class="nav-sub__item">
        <a href="#" class="nav-sub__link">Oxfam Unwrapped</a>
      </li>
    </ul>
  </div>
</nav>