<div class="trust-message-bar">
  <div class="trust-message__wrap">
    {{# trustMessages}}
    <div class="trust-message__content">
      {{> atoms-trust-message }}
    </div>
    {{/ trustMessages}}
  </div>
</div>