<div class="field-filters{{# class }} {{ class }}{{/ class }}">
  {{# label }} {{> atoms-label }} {{/ label }}
  <div class="field-filters__wrap">
    {{# filters }} {{> atoms-filter-checkbox }} {{/ filters }}
  </div>
</div>