<div class="o-card card-search">
  <h1 class="card-search__title">{{{ title }}}</h1>
  <p class="card-search__text">{{{ text }}}</p>

  {{# searchForm }} {{> molecules-form-search }} {{/ searchForm }}
</div>