{{# header }} {{> organisms-page-header }} {{/ header }}

<div class="page-hero">
  <div class="page-hero__wrap">
    <div class="page-hero__content">
      {{> organisms-card-search }}
    </div>
  </div>

  <div class="page-hero__map page-hero__map--disabled" data-search-map></div>
</div>

{{> organisms-page-footer }}

<!-- <script async src="../../_client/scripts/shop-finder.js"></script> -->