<a href="#" class="trust-message">
  <i class="trust-message__icon {{ trustMessage.icon }}"></i>
  <div class="trust-message__text">
    <span class="trust-message__title">{{{ trustMessage.title }}}</span>
    <span class="trust-message__sub-title">{{{ trustMessage.subTitle }}}</span>
  </div>
</a>