<nav class="nav-main page-header__nav" data-menu-target="menu-main">
  <ul class="nav-main__list">
    <li class="nav-main__item">
      <a href="#" class="nav-main__link">Women</a>
    </li>
    <li class="nav-main__item">
      <a href="#" class="nav-main__link">Men</a>
    </li>
    <li class="nav-main__item">
      <a href="#" class="nav-main__link">Kids</a>
    </li>
    <li class="nav-main__item">
      <a href="#" class="nav-main__link">Vintage</a>
    </li>
    <li class="nav-main__item">
      <a href="#" class="nav-main__link">Books</a>
    </li>
    <li class="nav-main__item">
      <a href="#" class="nav-main__link">Entertainment</a>
    </li>
    <li class="nav-main__item">
      <a href="#" class="nav-main__link">Collectables</a>
    </li>
    <li class="nav-main__item">
      <a href="#" class="nav-main__link">Charity gifts</a>
    </li>
    <li class="nav-main__item nav-main__item--more">
      <a href="#" class="nav-main__link" data-menu-toggle="menu-sub">
        <span class="nav-main__item--more__burger"></span>
        View all
      </a>
    </li>
  </ul>
</nav>